@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 244, 246;
  --background-end-rgb: 243, 244, 246;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: #f3f4f6;
}

/* Custom scrollbar for map container if needed */
.map-container {
  cursor: grab;
}

.map-container:active {
  cursor: grabbing;
}
